// James Rakich
// FLUID GRIDDING FRAMEWORK

// GRID0 : BABY FIRST GRID // 960 GRID PROPORTIONS BY DEFAULT
$grid0_unit_count: 12 !default
$grid0_left_margin_ratio: 1 !default
$grid0_right_margin_ratio: 1 !default
$grid0_unit_ratio: 6 !default
$grid0_gutter_ratio: 2 !default
$grid0_point_count: ($grid0_unit_count * $grid0_unit_ratio) + (($grid0_unit_count - 1) * $grid0_gutter_ratio) + $grid0_left_margin_ratio + $grid0_right_margin_ratio
$grid0_pp: 100% / $grid0_point_count

// glmr = grid_left_margin_ratio
// grmr = grid_right_margin_ratio
// gpp = grid_point_percentage
// lus = left_unit_span
// lgs = left-gutter-span
// rus = right_unit_span
// rgs = right_gutter_span
// gr = gutter_span
// cs = context_span

=region_first_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-left: (($glmr + $lus + $lgs) * $gpp)
  padding-left: 0
=region_first_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: (($glmr + $lus + $lgs) * $gpp)
  margin-left: 0
=region_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-left: ($lus + $lgs + $gr) * $gpp
  padding-left: 0
=region_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: ($lus + $lgs + $gr) * $gpp
  margin-left: 0
=region_extend_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: ($lus + $lgs) * $gpp
  margin-left: $grid0_gutter_ratio * $gpp
=region_no_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: 0
  margin-left: 0
=region_first_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-right: (($grmr + $rus + $rgs) * $gpp)
  padding-right: 0
=region_first_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-right: (($grmr + $rus + $rgs) * $gpp)
  margin-right: 0
=region_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-right: ($rus + $rgs + $gr) * $gpp
  padding-right: 0
=region_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-right: ($rus + $rgs + $gr) * $gpp
  margin-right: 0
=region_no_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-right: 0
  padding-right: 0
=region_extend_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-right: ($rus + $rgs) * $gpp
  margin-right: $gr * $gpp
=region_inside_padding($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs, $width)
  $pad: ($gr / 2 ) * $gpp
  padding-left: $pad
  padding-right: $pad
  width: $width - $pad - $pad

=column_first_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-left: (($glmr + $lus + $lgs) / $cs ) * 100%
  padding-left: 0
=column_first_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: (($glmr + $lus + $lgs) / $cs ) * 100%
  margin-left: 0
=column_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-left: (($lus + $lgs + $gr) / ($cs)) * 100%
  padding-left: 0
=column_clipped_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-left: (($lus + $lgs) / ($cs)) * 100%
  padding-left: 0
=column_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: (($lus + $lgs + $gr) / ($cs)) * 100%
  margin-left: 0
=column_no_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: 0
  margin-left: 0
=column_extend_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-left: (($lus + $lgs) / ($cs)) * 100%
  margin-left: (($gr) / ($cs)) * 100%
=column_first_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-right: (($grmr + $rus + $rgs) / $cs ) * 100%
  padding-right: 0
=column_first_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-right: (($grmr + $rus + $rgs) / $cs ) * 100%
  margin-right: 0
=column_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-right: (($rus + $rgs + $gr) / ($cs)) * 100%
  padding-right: 0
=column_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-right: (($rus + $rgs + $gr) / ($cs)) * 100%
  margin-right: 0
=column_no_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  margin-right: 0
  padding-right: 0
=column_extend_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
  padding-right: (($rus + $rgs) / ($cs)) * 100%
  margin-right: (($gr) / ($cs)) * 100%
=column_inside_padding($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs, $width)
  $pad: (($gr / 2 ) / $cs ) * 100%
  padding-left: $pad
  padding-right: $pad
  width: $width - $pad - $pad


// $ul = Margin Units Left, $ur = Margin Units Right
=grid0_region($u, $ul: 0, $ur: 0, $margin-style: (margin_left, no_margin_right))
  // $debugvar: (((2 * $grid0_unit_ratio) + ((2 - 1) * $grid0_gutter_ratio)) * $d960 )
  // @debug "2 Unit Width becomes in 960 grid #{$debugvar}"
  
  $width-unit-span: $u * $grid0_unit_ratio
  $width-gutter-span: ($u - 1) * $grid0_gutter_ratio
  
  width: ($width-unit-span + $width-gutter-span) * $grid0_pp
  $width: ($width-unit-span + $width-gutter-span) * $grid0_pp
  
  // $fml_debugvar: ((($grid0_left_margin_ratio) + (3 * $grid0_unit_ratio) + (3 * $grid0_gutter_ratio)) * $d960 )
  // @debug "3 Unit First Left Margin becomes in 960 grid #{$fml_debugvar}"
  
  // glmr = grid_left_margin_ratio
  // grmr = grid_right_margin_ratio
  // gpp = grid_point_percentage
  // lus = left_unit_span
  // lgs = left-gutter-span
  // rus = right_unit_span
  // rgs = right_gutter_span
  // gr = gutter_span
  // cs = context_span

  $glmr: $grid0_left_margin_ratio
  $grmr: $grid0_right_margin_ratio
  $gpp: $grid0_pp
  $lus: $ul * $grid0_unit_ratio
  $lgs: $ul * $grid0_gutter_ratio
  $rus: $ur * $grid0_unit_ratio
  $rgs: $ur * $grid0_gutter_ratio
  $gr: $grid0_gutter_ratio
  $cs: 0
  
    
  @each $style in $margin_style
    @if $style == fml
      +region_first_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_margin_left
      +region_first_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == fpl
      +region_first_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_padding_left
      +region_first_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == ml
      +region_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == margin_left
      +region_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == pl
      +region_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == padding_left
      +region_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == nml
      +region_no_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == no_margin_left
      +region_no_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == el
      +region_extend_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == extend_left
      +region_extend_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == fmr
      +region_first_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_margin_right
      +region_first_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == fpr
      +region_first_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_padding_right
      +region_first_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == mr
      +region_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == margin_right
      +region_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == pr
      +region_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == padding_right
      +region_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == nmr
      +region_no_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == no_margin_right
      +region_no_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == er
      +region_extend_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == extend_right
      +region_extend_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == ip
      +region_inside_padding($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs, $width)
    @if $style == inside_padding
      +region_inside_padding($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs, $width)
    
    

=grid0_column($u, $r, $ul: 0, $ur: 0, $margin-style: (margin_left, no_margin_right))

  $context-width-unit-span: $r * $grid0_unit_ratio
  $context-width-gutter-span: ($r - 1) * $grid0_gutter_ratio
  $target-width-unit-span: $u * $grid0_unit_ratio
  $target-width-gutter-span: ($u - 1) * $grid0_gutter_ratio
  
  $context-width: ($context-width-unit-span + $context-width-gutter-span) * $grid0_pp
  $target-width: ($target-width-unit-span + $target-width-gutter-span) * $grid0_pp
  $width: $target-width / $context-width * 100%
  width: $target-width / $context-width * 100%
  
  $glmr: $grid0_left_margin_ratio
  $grmr: $grid0_right_margin_ratio
  $gpp: $grid0_pp
  $lus: $ul * $grid0_unit_ratio
  $lgs: $ul * $grid0_gutter_ratio
  $rus: $ur * $grid0_unit_ratio
  $rgs: $ur * $grid0_gutter_ratio
  $gr: $grid0_gutter_ratio
  $cs: $context-width-unit-span + $context-width-gutter-span
  
  @each $style in $margin_style
    @if $style == fml
      +column_first_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_margin_left
      +column_first_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == fpl
      +column_first_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_padding_left
      +column_first_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == ml
      +column_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == margin_left
      +column_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == cml
      +column_clipped_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == clipped_margin_left
      +column_clipped_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == pl
      +column_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == padding_left
      +column_padding_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == nml
      +column_no_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == no_margin_left
      +column_no_margin_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == el
      +column_extend_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == extend_left
      +column_extend_left($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == fmr
      +column_first_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_margin_right
      +column_first_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == fpr
      +column_first_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == first_padding_right
      +column_first_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == mr
      +column_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == margin_right
      +column_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == pr
      +column_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == padding_right
      +column_padding_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == nmr
      +column_no_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == no_margin_right
      +column_no_margin_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == er
      +column_extend_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == extend_right
      +column_extend_right($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs)
    @if $style == ip
      +column_inside_padding($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs, $width)
    @if $style == inside_padding
      +column_inside_padding($glmr, $grmr, $gpp, $lus, $lgs, $rus, $rgs, $gr, $cs, $width)

// FLUID FRIENDLY BOX MODEL
=border_box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

// GOOD OLD CLEARFIX
=clearfix($clearside: both)
  zoom: 1
  &:before, &:after
    content: "\0020"
    display: block
    height: 0
    visibility: hidden
  &:after
    clear: $clearside
  
